* {margin: 0; padding: 0;}
 
body {
   background: #222;
   
}
 
/*GALLERY*/
.gallery {
   width: 1000px;
   margin: 50px auto;

}
 
ul {
   list-style: none;
}

.gallery li {

   height: 270px;
   width: 250px;
   margin: 25px;
   overflow: hidden;
  display: inline-block;
   -webkit-border-radius: 1%;
      -moz-border-radius: 50%;
       border-radius: 20%;



}

.gallery li img {
   margin-top: -140px;
     
  -webkit-transition: margin 1.5s ease;
      -moz-transition: margin 1.5s ease;
       -ms-transition: margin 1.5s ease;
        -o-transition: margin 1.5s ease;
          transition: all 1.5s ease;
opacity: 0.4;
    filter: alpha(opacity=40);



}

.gallery li p {

   width: 100px;
   padding: 20px;
   position: relative;
   top: 75%; /*set to 110% after this step!*/
     
   color: white;
   text-align: center;
   text-transform: uppercase;
   font: bold 18px/1 Helvetica, Verdana, sans-serif;
   text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
     
   -webkit-transition: top 0.5s ease;
      -moz-transition: top 0.5s ease;
       -ms-transition: top 0.5s ease;
        -o-transition: top 0.5s ease;
           transition: top 0.5s ease;



}

.info{
  opacity: 0;
  -moz-transition: all 0.5s linear 5s;
  transition: all 0.5s linear 5s;
}

.gallery li:hover img {
  margin-left: -30px;
 //margin-top: -10px;
filter: blur(10px);

}
 
.gallery li:hover p {
   top:30%;


}

.gallery li:hover .info{
  opacity: 1;
  -moz-transition: all 0.2s linear 0.2s;
  transition: all 0.2s linear 0.2s;
}
